<div class="footer">
    <div class="copyright">
         <p>
              Developed by
              <a
                   href="../index.htm"
                   target="_blank"
                   >Tech Tigers || Team Code Zero
              </a>
              2023
         </p>
    </div>
</div>