<!-- @format -->

<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="utf-8" />
          <meta
               http-equiv="X-UA-Compatible"
               content="IE=edge" />
          <meta
               name="viewport"
               content="width=device-width,initial-scale=1" />
          <title>SNS Student Managment System</title>
          <!-- Favicon icon -->
          <link
               rel="icon"
               type="image/png"
               sizes="16x16"
               href="images/favicon.png" />
          <link
               rel="stylesheet"
               href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css" />
          <link
               rel="stylesheet"
               href="css/style.css" />

          <!-- Pick date -->
          <link
               rel="stylesheet"
               href="vendor/pickadate/themes/default.css" />
          <link
               rel="stylesheet"
               href="vendor/pickadate/themes/default.date.css" />
     </head>

     <body>
          <!--*******************
        Preloader start
    ********************-->
          <div id="preloader">
               <div class="sk-three-bounce">
                    <div class="sk-child sk-bounce1"></div>
                    <div class="sk-child sk-bounce2"></div>
                    <div class="sk-child sk-bounce3"></div>
               </div>
          </div>
          <!--*******************
        Preloader end
    ********************-->

          <!--**********************************
        Main wrapper start
    ***********************************-->
          <div id="main-wrapper">
               <!--**********************************
            Nav header start
        ***********************************-->
               <%-include('./partials/__top-bar')%>
               <!--**********************************
            Nav header end
        ***********************************-->

               <!--**********************************
            Header start
        ***********************************-->

               <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

               <!--**********************************
            Sidebar start
        ***********************************-->
               <%-include('./partials/__student-side-bar')%>

               <!--**********************************
            Sidebar end
        ***********************************-->

               <!--**********************************
            Content body start
        ***********************************-->
               <div class="content-body">
                    <!-- row -->
                    <div class="container-fluid">
                         <div class="row page-titles mx-0">
                              <div class="col-sm-6 p-md-0">
                                   <div class="welcome-text">
                                        <h4>Acheivements Upload</h4>
                                   </div>
                              </div>
                              <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                                   <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index">Home</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Acheivements</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0);">upload Acheivemet</a></li>
                                   </ol>
                              </div>
                         </div>

                       
                         <div class="container">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="card">
                                    <div class="card-header">
                                      Upload Co-curricular Certificate
                                    </div>
                                    <div class="card-body">
                                      <form action="/upload" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="certificateType" value="coCurricular">
                                        <input type="file" name="image" class="form-control">
                                        <button type="submit" class="btn btn-primary">Upload Co-curricular Certificate</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="card">
                                    <div class="card-header">
                                      Upload Extra-curricular Certificate
                                    </div>
                                    <div class="card-body">
                                      <form action="/upload" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="certificateType" value="extraCurricular">
                                        <input type="file" name="image" class="form-control">
                                        <button type="submit" class="btn btn-primary">Upload Extra-curricular Certificate</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
              
               <!--**********************************
            Content body end
        ***********************************-->

               <!--**********************************
            Footer start
        ***********************************-->
               <div class="footer">
                    <div class="copyright">
                         <p>
                              Copyright © Designed &amp; Developed by
                              <a
                                   href="../index.htm"
                                   target="_blank"
                                   >DexignLab</a
                              >
                              2020
                         </p>
                    </div>
               </div>
               <!--**********************************
            Footer end
        ***********************************-->

               <!--**********************************
           Support ticket button start
        ***********************************-->

               <!--**********************************
           Support ticket button end
        ***********************************-->
          </div>
          <!--**********************************
        Main wrapper end
    ***********************************-->

          <!--**********************************
        Scripts
    ***********************************-->
          <!-- Required vendors -->
          <script src="vendor/global/global.min.js"></script>
          <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
          <script src="js/custom.min.js"></script>
          <script src="js/dlabnav-init.js"></script>

          <!-- Svganimation scripts -->
          <script src="vendor/svganimation/vivus.min.js"></script>
          <script src="vendor/svganimation/svg.animation.js"></script>
          <script src="js/styleSwitcher.js"></script>

          <!-- pickdate -->
          <script src="vendor/pickadate/picker.js"></script>
          <script src="vendor/pickadate/picker.time.js"></script>
          <script src="vendor/pickadate/picker.date.js"></script>

          <!-- Pickdate -->
          <script src="js/plugins-init/pickadate-init.js"></script>
     </body>
</html>
